#define DEFAULT 0
#define SYM     1
#define NUM     2
#define LOCK    3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ { 
    behaviors {
        // Tap Dance for NUM layer - short hold = momentary, long hold = toggle
        td_num_mo_tog: td_num_mo_tog {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_NUM_MO_TOG";
            #binding-cells = <0>;
            bindings = <&mo NUM>, <&tog NUM>;
            tapping-term-ms = <400>;
        };

        // Tap Dance for ESC with double-tap to LOCK
        td_esc_lock: td_esc_lock {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ESC_LOCK";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE>, <&tog LOCK>;
            tapping-term-ms = <200>;
        };

        // Primary Hold-Tap: Tap for ESC/LOCK dance, Hold for NUM
        ht_main: ht_main {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MAIN";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <150>;
            bindings = <&td_num_mo_tog>, <&td_esc_lock>;
        };
        //system layer
        td_ctrl_sym: td_ctrl_sym {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_CTRL_SYM";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL>, <&tog SYM>;
            tapping-term-ms = <500>;
        };
        //lock layer
        td_esc_lock: td_esc_lock {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ESC_LOCK";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE>, <&tog LOCK>;
            tapping-term-ms = <500>;
        };
        //number layer
        td_alt_num: td_alt_num {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ALT_NUM";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&tog NUM>;
            tapping-term-ms = <500>;
        };
        
        // Tap Dance Behaviors
        td_gui_prnscrn: td_gui_prnscrn {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_GUI_PRNSCRN";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI>, <&kp PRINTSCREEN>;
            tapping-term-ms = <200>;
        };

        td_bs_del: td_bs_del {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BS_DEL";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            tapping-term-ms = <200>;
        };

        //space macro 
        macro_comma_space: macro_comma_space{
            compatible = "zmk,behavior-macro";
            label = "MACRO_COMMA SPACE";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp SPACE>;
        };
        macro_dot_space: macro_dot_space {
            compatible = "zmk,behavior-macro";
            label = "MACRO_DOT_SPACE";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp SPACE>;
        };
        td_space_macro: td_space_macro {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SPACE_MACRO";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&macro_comma_space>, <&macro_dot_space>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";        default_layer {
            label = "QWRT";
            bindings = <
&ht_main 0 0       &kp Q         &kp W         &kp E         &kp R         &kp T         &kp Y         &kp U         &kp I         &kp O         &kp P         &mt EQUAL MINUS
&kp TAB           &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp SEMI        &mt GRAVE SQT
&kp LEFT_SHIFT    &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT         &kp SLASH       &td_gui_prnscrn
&td_ctrl_sym      &kp LALT        &kp LEFT_BRACKET &td_space_macro     &kp RIGHT_BRACKET                &kp RET         &kp SPACE                                       &td_bs_del

&kp DOWN &kp LEFT &kp RIGHT &kp UP
            >;
        };        symbol_layer {
            label = "SYM";
            bindings = <
&ht_main 0 0       &none         &none         &none        &none        &none        &none       &none        &none        &none        &none         &none
&kp TAB           &bt BT_SEL 0           &bt BT_SEL 1           &bt BT_SEL 2           &bt BT_SEL 3          &none          &none           &none           &none          &none           &none       &none
&kp LEFT_SHIFT    &none           &none          &none          &none          &none           &none         &none           &none      &none         &none       &td_gui_prnscrn
&td_ctrl_sym     &kp LALT        &bt BT_PRV &bt BT_CLR      &bt BT_NXT                &none        &none                                         &none

&none &none &none &none
            >;
        };        function_layer {
            label = "NUM";
            bindings = <
&ht_main 0 0       &kp NUMBER_1        &kp NUMBER_2           &kp NUMBER_3           &kp NUMBER_4           &kp NUMBER_5           &kp NUMBER_6           &kp NUMBER_7           &kp NUMBER_8        &kp NUMBER_9         &kp NUMBER_0         &none
&kp TAB           &none            &kp F1             &kp F2            &kp F3             &kp F4             &kp F5          &kp F6           &kp F7           &kp F8           &none     &none
&kp LEFT_SHIFT    &none             &kp F9             &kp F10             &kp F11             &kp F12             &kp F13          &kp F14           &kp F15      &kp F16         &none       &td_gui_prnscrn
&kp LEFT_CONTROL      &kp LALT        &none   &none       &none                  &kp C_MUTE          &kp C_PP                                       &td_bs_del

&kp C_VOL_DN &kp C_PREV &kp C_NEXT &kp C_VOL_UP
            >;
        };
        lock_layer {
            label = "LOCK";
            bindings = <
&td_esc_lock        &none        &none           &none           &none           &none           &none           &none           &none        &none         &none         &none
&none           &none             &none             &none            &none             &none             &none          &none           &none           &none           &none     &none
&none    &none             &none             &none             &none             &none             &none          &none           &none      &none         &none       &none
&none      &none        &none   &none       &none                  &none          &none                                         &none

&none &none &none &none
            >;
        };
    };
};
